Tweet Categorization to Notion latest.json
{
  "name": "Tweet Categorization to Notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "2d995cd9-ba46-8031-9d6f-eecd46b87acf",
          "mode": "list",
          "cachedResultName": "Nano Banana Pro Prompts DB",
          "cachedResultUrl": "https://www.notion.so/2d995cd9ba4680319d6feecd46b87acf"
        }
      },
      "id": "f0586c41-27b4-42d2-ac73-bbb96b1987f0",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        3024
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.vxtwitter.com/Twitter/status/{{ $json.URL.split('/').pop().split('?')[0] }}",
        "options": {}
      },
      "id": "de94ea5f-3adf-4a9a-b50c-7ad1b6ef36a1",
      "name": "Fetch Tweet Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -496,
        3024
      ]
    },
    {
      "parameters": {
        "functionCode": "const tweetText = items[0].json.text || '';\nconst userName = items[0].json.user_name || 'Unknown';\nconst notionId = $node['Notion Trigger'].json.id;\nconst notionUrl = $node['Notion Trigger'].json.URL;\n\nconst prompt = `Analyze this tweet about nano banana pro prompts and provide a structured response.\n\nTweet Author: ${userName}\nTweet Text: ${tweetText}\n\nProvide your response in this exact JSON format:\n{\n  \"category\": \"<one of: Technique|Use Case|Tips|Examples|Tutorial|Inspiration|Discussion>\",\n  \"tags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\"],\n  \"description\": \"<concise 1-2 sentence description>\",\n  \"prompt\": \"<the actual nano banana pro prompt if present, otherwise empty string>\",\n  \"author\": \"${userName}\"\n}\n\nIMPORTANT - Prompt Extraction:\n- Look for the actual nano banana pro prompt in the tweet\n- Prompts are often in quotes, code blocks, or clearly formatted\n- Extract the complete prompt text exactly as written\n- If the tweet discusses prompts but doesn't contain an actual prompt, leave empty\n- If multiple prompts, extract the primary/main one\n\nFocus on:\n- What aspect of nano banana pro prompts this covers\n- Key techniques or insights mentioned\n- Practical application value\n\nRespond ONLY with valid JSON, no other text.`;\n\nreturn [{\n  json: {\n    notionId: notionId,\n    notionUrl: notionUrl,\n    tweetText: tweetText,\n    userName: userName,\n    claudeBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 500,\n      temperature: 0.3,\n      messages: [{ role: 'user', content: prompt }]\n    }\n  }\n}];"
      },
      "id": "be12abae-fd76-4776-bf73-ad77fd1daba2",
      "name": "Prepare Claude Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -288,
        3024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBody) }}",
        "options": {}
      },
      "id": "c1874874-9767-4ab3-a71e-04760ec80a18",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -64,
        3024
      ],
      "credentials": {
        "anthropicApi": {
          "id": "NgWjDuFhBPziHcjJ",
          "name": "Zee Anthropic"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const claudeResponse = items[0].json.content?.[0]?.text || '';\n\n// Get data from previous nodes\nconst notionData = $node['Notion Trigger'].json;\nconst tweetData = $node['Fetch Tweet Content'].json;\n\nlet analysis;\ntry {\n  const cleanJson = claudeResponse.replace(/```json\\n?|```/g, '').trim();\n  analysis = JSON.parse(cleanJson);\n  \n  const validCategories = ['Technique', 'Use Case', 'Tips', 'Examples', 'Tutorial', 'Inspiration', 'Discussion', 'Uncategorized'];\n  if (!validCategories.includes(analysis.category)) {\n    analysis.category = 'Uncategorized';\n  }\n  if (!Array.isArray(analysis.tags)) {\n    analysis.tags = ['Needs-review'];\n  }\n} catch (error) {\n  analysis = {\n    category: 'Uncategorized',\n    tags: ['Needs-review'],\n    description: 'Failed to parse: ' + error.message,\n    prompt: '',\n    author: tweetData?.user_name || 'Unknown'\n  };\n}\n\n// Format page ID - remove dashes for Notion API compatibility\nconst rawPageId = notionData?.id || '';\nconst formattedPageId = rawPageId.replace(/-/g, '');\n\n// Convert tags array to comma-separated string for n8n Notion node\nconst tagsString = Array.isArray(analysis.tags) ? analysis.tags.join(',') : 'Needs-review';\n\nreturn [{\n  json: {\n    pageId: formattedPageId,\n    category: analysis.category || 'Uncategorized',\n    tags: tagsString,\n    description: analysis.description || 'No description available',\n    prompt: analysis.prompt || '',\n    tweetContent: tweetData?.text || 'No tweet content',\n    author: tweetData?.user_name || analysis.author || 'Unknown',\n    tweetUrl: notionData?.URL || ''\n  }\n}];"
      },
      "id": "8c505769-9763-4053-9a32-d4bf79e6d044",
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        160,
        3024
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.pageId }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Category|select",
              "selectValue": "={{ $json.category }}"
            },
            {
              "key": "Processing Status|select",
              "selectValue": "Processed"
            },
            {
              "key": "Date Processed|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9573003-d574-4b3b-b3c5-0aa2f61df88e",
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        384,
        3024
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $node['Notion Trigger'].json.id.replace(/-/g, '') }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Processing Status|select",
              "type": "select",
              "selectValue": "Error"
            },
            {
              "key": "Description|rich_text",
              "type": "richText",
              "textContent": "Failed to fetch tweet - may be deleted or private"
            },
            {
              "key": "Date Processed|date",
              "type": "date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "98d0a0d0-4d16-4bfd-aec5-0bcbdb34dda2",
      "name": "Mark as Error",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -64,
        3232
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Fetch Tweet Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tweet Content": {
      "main": [
        [
          {
            "node": "Prepare Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Request": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1f365ab0-3b65-4c83-b8ef-337eba5c35a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "897026718648428259fa267f9678147da79ee2d1fe9208bea6a2ea3715315356"
  },
  "id": "utP8QAM0A0yMvL1M",
  "tags": []
}