tweet-categorization-workflow.json
{
  "name": "Tweet Categorization to Notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedatabaseitem",
        "databaseId": "2d995cd9-ba46-8031-9d6f-eecd46b87acf",
        "simple": true
      },
      "id": "notion-trigger",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Processing Status\"] }}",
              "value2": "Pending"
            }
          ]
        }
      },
      "id": "filter-pending",
      "name": "Filter Pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.vxtwitter.com/Twitter/status/{{ $json.URL.split('/').pop().split('?')[0] }}",
        "options": {}
      },
      "id": "fetch-tweet",
      "name": "Fetch Tweet Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 500,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this tweet about nano banana pro prompts and provide a structured response.\\n\\nTweet Author: {{ $json.user_name }}\\nTweet Text: {{ $json.text }}\\nTweet URL: {{ $node[\"Notion Trigger\"].json.URL }}\\n\\nProvide your response in this exact JSON format:\\n{\\n  \\\"category\\\": \\\"<one of: Technique|Use Case|Tips|Examples|Tutorial|Inspiration|Discussion>\\\",\\n  \\\"tags\\\": [\\\"<tag1>\\\", \\\"<tag2>\\\", \\\"<tag3>\\\"],\\n  \\\"description\\\": \\\"<concise 1-2 sentence description>\\\",\\n  \\\"prompt\\\": \\\"<the actual nano banana pro prompt if present, otherwise empty string>\\\",\\n  \\\"author\\\": \\\"{{ $json.user_name }}\\\"\\n}\\n\\nIMPORTANT - Prompt Extraction:\\n- Look for the actual nano banana pro prompt in the tweet\\n- Prompts are often in quotes, code blocks, or clearly formatted\\n- Extract the complete prompt text exactly as written\\n- If the tweet discusses prompts but doesn't contain an actual prompt, leave empty\\n- If multiple prompts, extract the primary/main one\\n\\nFocus on:\\n- What aspect of nano banana pro prompts this covers\\n- Key techniques or insights mentioned\\n- Practical application value\\n\\nRespond ONLY with valid JSON, no other text.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract Claude's response from API result\nconst claudeResponse = items[0].json.content?.[0]?.text || \"\";\n\nlet analysis;\ntry {\n  // Clean markdown code blocks if present\n  const cleanJson = claudeResponse\n    .replace(/```json\\n?|```/g, '')\n    .trim();\n  \n  // Parse JSON\n  analysis = JSON.parse(cleanJson);\n  \n  // Validate category is one of allowed values\n  const validCategories = ['Technique', 'Use Case', 'Tips', 'Examples', 'Tutorial', 'Inspiration', 'Discussion', 'Uncategorized'];\n  if (!validCategories.includes(analysis.category)) {\n    analysis.category = 'Uncategorized';\n  }\n  \n  // Ensure tags is an array\n  if (!Array.isArray(analysis.tags)) {\n    analysis.tags = ['Needs-review'];\n  }\n  \n} catch (error) {\n  // Fallback for parsing failures\n  analysis = {\n    category: \"Uncategorized\",\n    tags: [\"Needs-review\"],\n    description: \"Failed to parse analysis - \" + error.message,\n    prompt: \"\",\n    author: \"Unknown\"\n  };\n}\n\n// Get original data from previous nodes\nconst tweetData = $node[\"Fetch Tweet Content\"].json;\nconst notionData = $node[\"Notion Trigger\"].json;\n\n// Return structured data for Notion update\nreturn [{\n  json: {\n    pageId: notionData.id,\n    category: analysis.category,\n    tags: analysis.tags,\n    description: analysis.description || \"\",\n    prompt: analysis.prompt || \"\",\n    tweetContent: tweetData.text || \"\",\n    author: tweetData.user_name || analysis.author || \"Unknown\",\n    tweetUrl: notionData.URL\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.pageId }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Category",
              "type": "select",
              "selectValue": "={{ $json.category }}"
            },
            {
              "key": "Tags",
              "type": "multiSelect",
              "multiSelectValue": "={{ $json.tags }}"
            },
            {
              "key": "Description",
              "type": "richText",
              "textContent": "={{ $json.description }}"
            },
            {
              "key": "Prompt",
              "type": "richText",
              "textContent": "={{ $json.prompt }}"
            },
            {
              "key": "Tweet Content",
              "type": "richText",
              "textContent": "={{ $json.tweetContent }}"
            },
            {
              "key": "Author",
              "type": "richText",
              "textContent": "={{ $json.author }}"
            },
            {
              "key": "Processing Status",
              "type": "select",
              "selectValue": "Processed"
            },
            {
              "key": "Date Processed",
              "type": "date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-notion",
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $node[\"Notion Trigger\"].json.id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Processing Status",
              "type": "select",
              "selectValue": "Error"
            },
            {
              "key": "Description",
              "type": "richText",
              "textContent": "Failed to fetch tweet - may be deleted or private"
            },
            {
              "key": "Date Processed",
              "type": "date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "mark-error",
      "name": "Mark as Error",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [910, 500]
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Filter Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending": {
      "main": [
        [
          {
            "node": "Fetch Tweet Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tweet Content": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
