Tweet Categorization to Notion latest.json
{
  "name": "Tweet Categorization to Notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "2d995cd9-ba46-8031-9d6f-eecd46b87acf",
          "mode": "list",
          "cachedResultName": "Nano Banana Pro Prompts DB",
          "cachedResultUrl": "https://www.notion.so/2d995cd9ba4680319d6feecd46b87acf"
        }
      },
      "id": "5e574f40-12e0-49bd-8c52-843e4185eff5",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        2800
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.vxtwitter.com/Twitter/status/{{ $json.URL.split('/').pop().split('?')[0] }}",
        "options": {}
      },
      "id": "b81219d8-8c12-4969-8b13-ef6002c1cc56",
      "name": "Fetch Tweet Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -832,
        2800
      ]
    },
    {
      "parameters": {
        "functionCode": "const tweetText = items[0].json.text || '';\nconst userName = items[0].json.user_name || 'Unknown';\nconst notionId = $node['Notion Trigger'].json.id;\nconst notionUrl = $node['Notion Trigger'].json.URL;\n\nconst prompt = `Analyze this tweet about nano banana pro prompts and provide a structured response.\n\nTweet Author: ${userName}\nTweet Text: ${tweetText}\n\nProvide your response in this exact JSON format:\n{\n  \"category\": \"<one of: Technique|Use Case|Tips|Examples|Tutorial|Inspiration|Discussion>\",\n  \"tags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\"],\n  \"description\": \"<concise 1-2 sentence description>\",\n  \"prompt\": \"<the actual nano banana pro prompt if present, otherwise empty string>\",\n  \"author\": \"${userName}\"\n}\n\nIMPORTANT - Prompt Extraction:\n- Look for the actual nano banana pro prompt in the tweet\n- Prompts are often in quotes, code blocks, or clearly formatted\n- Extract the complete prompt text exactly as written\n- If the tweet discusses prompts but doesn't contain an actual prompt, leave empty\n- If multiple prompts, extract the primary/main one\n\nFocus on:\n- What aspect of nano banana pro prompts this covers\n- Key techniques or insights mentioned\n- Practical application value\n\nRespond ONLY with valid JSON, no other text.`;\n\nreturn [{\n  json: {\n    notionId: notionId,\n    notionUrl: notionUrl,\n    tweetText: tweetText,\n    userName: userName,\n    claudeBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 500,\n      temperature: 0.3,\n      messages: [{ role: 'user', content: prompt }]\n    }\n  }\n}];"
      },
      "id": "e3581d3c-6332-4873-a3a8-b105407cb76e",
      "name": "Prepare Claude Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -624,
        2800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBody) }}",
        "options": {}
      },
      "id": "f34aca13-b32f-4e61-aa70-aa9e4a6ed6f3",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -400,
        2800
      ],
      "credentials": {
        "anthropicApi": {
          "id": "NgWjDuFhBPziHcjJ",
          "name": "Zee Anthropic"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const claudeResponse = items[0].json.content?.[0]?.text || '';\n\n// Get data from previous nodes\nconst notionData = $node['Notion Trigger'].json;\nconst tweetData = $node['Fetch Tweet Content'].json;\n\nlet analysis;\ntry {\n  const cleanJson = claudeResponse.replace(/```json\\n?|```/g, '').trim();\n  analysis = JSON.parse(cleanJson);\n  \n  const validCategories = ['Technique', 'Use Case', 'Tips', 'Examples', 'Tutorial', 'Inspiration', 'Discussion', 'Uncategorized'];\n  if (!validCategories.includes(analysis.category)) {\n    analysis.category = 'Uncategorized';\n  }\n  if (!Array.isArray(analysis.tags)) {\n    analysis.tags = ['Needs-review'];\n  }\n} catch (error) {\n  analysis = {\n    category: 'Uncategorized',\n    tags: ['Needs-review'],\n    description: 'Failed to parse: ' + error.message,\n    prompt: '',\n    author: tweetData.user_name || 'Unknown'\n  };\n}\n\n// Format page ID - remove dashes for Notion API compatibility\nconst rawPageId = notionData.id || '';\nconst formattedPageId = rawPageId.replace(/-/g, '');\n\nreturn [{\n  json: {\n    pageId: formattedPageId,\n    category: analysis.category,\n    tags: analysis.tags,\n    description: analysis.description || '',\n    prompt: analysis.prompt || '',\n    tweetContent: tweetData.text || '',\n    author: tweetData.user_name || analysis.author || 'Unknown',\n    tweetUrl: notionData.URL\n  }\n}];"
      },
      "id": "ac35f694-c73e-4ecd-b008-b6d41cb94639",
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -176,
        2800
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.pageId }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Category",
              "type": "select",
              "selectValue": "={{ $json.category }}"
            },
            {
              "key": "Tags",
              "type": "multiSelect",
              "multiSelectValue": "={{ $json.tags }}"
            },
            {
              "key": "Description",
              "type": "richText",
              "textContent": "={{ $json.description }}"
            },
            {
              "key": "Prompt",
              "type": "richText",
              "textContent": "={{ $json.prompt }}"
            },
            {
              "key": "Tweet Content",
              "type": "richText",
              "textContent": "={{ $json.tweetContent }}"
            },
            {
              "key": "Author",
              "type": "richText",
              "textContent": "={{ $json.author }}"
            },
            {
              "key": "Processing Status",
              "type": "select",
              "selectValue": "Processed"
            },
            {
              "key": "Date Processed",
              "type": "date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dab15689-35c9-4d8c-9277-4181abe3d71d",
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        48,
        2800
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $node['Notion Trigger'].json.id.replace(/-/g, '') }}",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Processing Status",
              "type": "select",
              "selectValue": "Error"
            },
            {
              "key": "Description",
              "type": "richText",
              "textContent": "Failed to fetch tweet - may be deleted or private"
            },
            {
              "key": "Date Processed",
              "type": "date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "50c42d5c-b217-40ae-a6b6-c6b73d2a2a5e",
      "name": "Mark as Error",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -400,
        3008
      ],
      "credentials": {
        "notionApi": {
          "id": "fDfqBVFoxut3rmf6",
          "name": "Zee Notion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Fetch Tweet Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tweet Content": {
      "main": [
        [
          {
            "node": "Prepare Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Mark as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Request": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f6a9c545-d4b3-4a5b-b802-bb1154b9a059",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "897026718648428259fa267f9678147da79ee2d1fe9208bea6a2ea3715315356"
  },
  "id": "utP8QAM0A0yMvL1M",
  "tags": []
}